body {
    margin: 0px;
    padding: 0px;
    font: 11pt sans-serif;
}

.ribbon-container {
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}

.ribbon-container
.ribbon, .tab-strip {
    cursor: default;
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none; 
         -moz-user-select: none; 
          -ms-user-select: none; 
              user-select: none;
}

.ribbon-container
.ribbon > .tab {
    display: none;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    border-top: 1px solid #aaa;
    padding-top: 3px;
    padding-bottom: 3px;
}

.ribbon-container
.ribbon .tab.selected {
    display: flex;
}

.ribbon-container
.tab-strip {
    list-style-type: none;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 7px;
    padding: 0px;
}

.ribbon-container
.tab-strip > li {
    cursor: pointer;
    margin-left: 5px;
    display: inline;
    padding: 7px;
}

.ribbon-container
.tab-strip > li.selected {
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    border-bottom: 1px solid #fff;
}

.ribbon-container
.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ribbon-container
.section, .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ribbon-container
.section {
    border-right: 1px solid #ccc;
    padding-bottom: 3px;
}

.ribbon-container
.more-button {
    margin-left: auto !important;
}

.ribbon-container
.title {
    font-size: 10pt;
}

.ribbon-container
.more-button .title {
    font-size: 8pt;
}

.ribbon-container
.title-mini {
    font-size: 8pt;
}

.ribbon-container
.section .title {
    align-self: center;
}

.ribbon-container
.button {
    cursor: pointer;
    display: flex;
    flex: 1;
    align-items: center;
    padding: 1px;
    margin: 1px;
    border: 1px solid transparent;
}

.ribbon-container
.button.center {
    flex: 0;
}

.ribbon-container
.button:hover {
    background-color: #ddd;
    border: 1px solid #aaa;
}

.ribbon-container
.button:active {
    background-color: #ccc;
    border: 1px solid #aaa;
}

.ribbon-container
.button img {
    display: block;
}

.ribbon-container
.column > .button {
    flex-direction: column;
}

.ribbon-container
.row > .button {
    flex-direction: row;
}
